<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "graffix/users/edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Pong!</name>

    <description>
        An App by the nonprofit orginisation k1ds-can-c0de
    </description>

    <author href="http://scratch.mit.edu/users/Graffix" email="Unavailable">
        Graffix
    </author>

</widget>
